name: Build and Push Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Build client
        run: |
          cd client
          npm ci
          npm run build

      - name: Build server
        run: |
          cd server
          npm ci
          npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Aliyun Personal ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_HOST }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ secrets.REGISTRY_HOST }}/${{ secrets.REGISTRY_REPO }}:latest
            ${{ secrets.REGISTRY_HOST }}/${{ secrets.REGISTRY_REPO }}:gh-${{ github.sha }}

      - name: Export image as tar
        run: docker pull ${{ secrets.REGISTRY_HOST }}/${{ secrets.REGISTRY_REPO }}:gh-${{ github.sha }} && docker save ${{ secrets.REGISTRY_HOST }}/${{ secrets.REGISTRY_REPO }}:gh-${{ github.sha }} -o ai-travel-planner.tar

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ai-travel-planner-image
          path: ai-travel-planner.tar